{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}
    <main>
        {% block main %}
           <h1>SALUT c'est m2d</h1>
        {% endblock %}
    </main>
{% endblock %}
