{% extends 'base.html.twig' %}

{% block title %}about{% endblock %}

{% block body %}
    <header>
            <section class="text-center my-5">
            </section>
    </header>
    <main>
        <section class="text-center">
        </section>

        <section class="text-center">
        </section>

        <section class="text-center">
        </section>

        <section class="text-center">
        </section>
    </main>
{% endblock %}
