{% extends 'base.html.twig' %}


{% block title %}connecter{% endblock %}

{% block body %}

    <section class="container py-5">
        <h1 class="fw-bold text-center mb-4">Compétence : Connecter</h1>

        <div class="card shadow p-4 border-0">
            <h3 class="fw-bold mb-3">Définition</h3>
            <p class="mb-0">
                Ici tu mets la définition officielle de la compétence, ce qu’elle représente,
                son importance, et en quoi elle est essentielle dans les métiers du numérique.
            </p>
        </div>
    </section>

    <section class="container py-5">
        <div class="card shadow p-4 border-0">
            <h3 class="fw-bold mb-3">Ce que j’ai acquis</h3>
            <p>
                Ici tu expliques ce que tu as appris par rapport à cette compétence :
                connaissances techniques, procédures, outils administrés, etc.
            </p>
        </div>
    </section>

    <section class="container py-5">
        <div class="card shadow p-4 border-0">
            <h3 class="fw-bold mb-3">Mes skills liés à cette compétence</h3>

            <div class="d-flex flex-wrap gap-2">
                <span class="badge bg-success p-2">Linux</span>
                <span class="badge bg-dark p-2">Docker</span>
                <span class="badge bg-secondary p-2">Administration réseau</span>
                <span class="badge bg-success p-2">Sécurisation</span>
            </div>
        </div>
    </section>

    <section class="container py-5">
        <h2 class="fw-bold text-center mb-5">Projets liés à cette compétence</h2>

        <div class="row g-4 justify-content-center">

            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card shadow border-0 h-100" style="border-radius: 20px; width: 100%;">
                    
                    <img src="{{ asset('images/projet2.webp') }}"
                        class="card-img-top"
                        style="border-radius: 20px 20px 0 0; height: 200px; object-fit: cover;">

                    <div class="card-body">
                        <h4 class="fw-bold">Projet 2</h4>
                        <p class="text-muted">Catégorie / Technologie</p>
                        <p>Description du projet.</p>

                        <a href="#" class="btn btn-info w-100">
                            Voir le projet →
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </section>


    <button id="backToTop" class="btn rounded-circle shadow-lg ms-auto">
        <i class="bi bi-arrow-up"></i>
    </button>

{% endblock %}