{% extends 'base.html.twig' %}

{% block title %}cv{% endblock %}

{% block body %}
    <header>

    </header>
    <main>
        <div class="container mt-5">
            <div class="row mx-auto" style="max-width: 1100px; border: 2px solid #000; border-radius: 10px;">
                
                <div class="col-md-4 p-4">
                    <img src="{{asset('images/pb.png')}}" class="img-fluid rounded-circle mb-3" alt="photo">
                    <h3>Thierno DIALLO</h3>
                    <p><strong>Etudiant en Réseaux et Télécommunications</strong></p>
                    <hr>
                    <p><i class="bi bi-envelope"></i> thiernold28@gmail.com</p>
                    <p><i class="bi bi-telephone"></i> 06 52 33 29 56</p>
                    <p><i class="bi bi-geo-alt"></i> Roanne - France</p>
                    <p><i class="bi bi-linkedin"></i> linkedin.com/in/thiernodiallo77</p>
                    <hr>
                    
                    <h4>🛠️ COMPETENCES</h4>
                    <h5>Compétences techniques</h5>
                    <ul>
                        <li>Adressage IPv4 et mise en place de petits réseaux locaux.</li>
                        <li>Configuration de base de switches et routeurs.</li>
                        <li>Câblage cuivre RJ45 et tests de liaisons avec un testeur.</li>
                        <li>Soudure et préparation de liaisons fibre optique.</li>
                        <li>Audit de couverture WiFi (mesure du signal et des canaux).</li>
                        <li>Programmation en Python et en C.</li>
                        <li>Développement Web avec Symfony, HTML, CSS, Bootstrap et Twig.</li>
                        <li>Utilisation de Git / GitHub pour la gestion de versions.</li>
                    </ul>

                    <h5> Compétences Transversales</h5>
                    <ul>
                        <li>Travail en équipe.</li>
                        <li>Organisation et gestion du temps.</li>
                        <li>Analyse et résolution de problèmes.</li>
                        <li>Esprit d’initiative.</li>
                        <li>Autonomie dans le travail.</li>
                        <li>Communication claire en français.</li>
                        <li>Anglais technique de base.</li>
                        <li>Adaptabilité aux nouveaux outils.</li>
                    </ul>

                    <h5> Compétences Personnelles </h5>
                    <ul>
                        <li>Sérieux et sens des responsabilités.</li>
                        <li>Motivation et envie d’apprendre.</li>
                        <li>Persévérance face aux difficultés.</li>
                        <li>Calme et capacité à gérer le stress.</li>
                        <li>Esprit logique.</li>
                        <li>Bonne capacité d’écoute.</li>
                        <li>Respect des consignes et des procédures.</li>
                    </ul>

                    <h5> Langues</h5>
                    <ul>
                        <li>Français</li>
                        <li>Anglais - Intermédiaire (B1)</li>
                        <li>Arabe - Notions de base</li>
                        <li>Wolof - Langue maternelle</li>
                    </ul>
                    <h4>🎯 CENTRES D’INTÉRÊT</h4>
                    <ul>
                        <li>Pratique régulière du football et passion pour le sport en général</li>
                        <li>Intérêt marqué pour les nouvelles technologies et la cybersécurité</li>
                        <li>Goût pour les voyages et la découverte de nouvelles cultures</li>
                        <li>Lecture sur le développement personnel</li>
                    </ul>
                </div>

                <div class="col-md-8 p-4">
                    <h4>👤 PROFIL</h4>
                    <p class="fs-5" > Étudiant en première année de BUT Réseaux et Télécommunications à
                        l'IUT de Roanne, je suis à la recherche d'un travail à temps partiel. Sérieux
                        et motivé, doté d’une expérience dans l’organisation d’événements sportifs.
                        Habitué à l’accueil du public et à la gestion d’activités en équipe, je souhaite
                        mettre mon sens du service et de la rigueur à votre service.
                    </p>

                    <h4>💼 EXPÉRIENCES ET PROJETS ACADÉMIQUES</h4>
                    <h5>Projets réalisés dans le cadre du BUT Réseaux & Télécommunications – IUT de Roanne</h5>
                    <ul class="fs-5">
                        <li class="mb-3" ><strong>Découverte et qualification d’un dispositif de transmission</strong> – Salle réseau G007 (SAE 1.03, 2025)
                            <ul>
                                <li class="mb-3">Qualification de 50 liaisons cuivre avec un Fluke CableIQ et analyse des résultats pour valider le support de débits jusqu’à 1 Gbit/s et la VoIP.</li>
                                <li class="mb-3">Réalisation d’un devis complet de câblage structuré (baies, panneaux de brassage, prises RJ45, câbles Cat 6) pour une salle réseau pédagogique.</li>
                                <li class="mb-3">Audit de la couverture WiFi du campus avec un AirCheck G2 (RSSI, bruit, SNR, canaux) et formulation de recommandations d’amélioration.</li>
                            </ul>
                        </li>

                        <li class="mb-3"><strong>Travaux pratiques de câblage cuivre et fibre optique</strong> – IUT de Roanne (2025)
                            <ul>
                                <li class="mb-3">Réalisation de soudures de fibre optique et de câblage cuivre (prises, panneaux de brassage) en respectant les normes de repérage et de test.</li>
                                <li class="mb-3">Mesure et contrôle de l’atténuation et de la continuité des liaisons pour valider la qualité des supports de transmission.</li>
                            </ul>
                        </li>

                        <li class="mb-3"><strong>Mesure et analyse de signaux pour les transmissions</strong> – Travaux pratiques d’électronique (2025)
                            <ul>
                                <li class="mb-3">Utilisation d’oscilloscopes TDS 2012B, de générateurs de signaux et de platines de mesure pour caractériser des signaux électriques.</li>
                                <li class="mb-3">Interprétation de chronogrammes (amplitude, fréquence, phase) pour commenter l’état d’une liaison de transmission.</li>
                            </ul>
                        </li>

                        <li class="mb-3"><strong>Développement d’un e‑portfolio étudiant</strong> – Symfony / HTML / CSS (2025)
                            <ul>
                                <li class="mb-3">Création d’un e‑portfolio basé sur le portfolio de formation, en utilisant Symfony (MVC), Twig et Bootstrap pour présenter les compétences et projets.</li>
                                <li class="mb-3">Mise en place d’une structure de pages dynamiques et d’un dépôt GitHub pour le suivi des versions et l’organisation du code.</li>
                            </ul>
                        </li>

                        <li class="mb-3"><strong>Traitement de données issues d’un contexte réseau</strong> – Projet Python (2025)
                            <ul>
                                <li class="mb-3">Analyse de fichiers de traces réseau (tcpdump, iCalendar…) pour isoler les informations pertinentes.</li>
                                <li class="mb-3">Écriture de scripts Python pour filtrer et extraire automatiquement adresses, dates, événements ou anomalies, puis présentation des résultats dans un support structuré.</li>
                            </ul>
                        </li>
                    </ul>

                    <h4>🎓 Formations</h4>
                    <h6 class="fs-5">BACHELOR UNIVERSITAIRE DE TECHNOLOGIE EN RÉSEAUX ET TÉLÉCOMMUNICATIONS (B.U.T R&T)</h6>
                    <p class="fs-6">2025 - en cours, Universite Jean Monnet - IUT Roanne</p>
                    <h6 class="fs-5">LICENCE 1 GÉNIE LOGICIEL ET SYSTÈMES D’INFORMATION</h6>
                    <p class="fs-6">2024 - 2025, École Supérieure Polytechnique de Dakar</p>                    
                    <h6 class="fs-5">BACCALAURÉAT SCIENTIFIQUE, OPTION SCIENCES EXPERIMENTALE</h6>
                    <p class="fs-6">2023 - 2024, Lycée de Mbao - Dakar, Sénégal</p>
                    
                </div>
            </div>
        </div>
    <button id="backToTop" class="btn rounded-circle shadow-lg ms-auto">
        <i class="bi bi-arrow-up"></i>
    </button>

    </main>
{% endblock %}
