{% extends 'base.html.twig' %}

{% block title %}cv{% endblock %}

{% block body %}
    <header>

    </header>
    <main>
        <div class="container mt-5">
            <div class="row mx-auto" style="max-width: 1100px; border: 2px solid #000; border-radius: 10px;">
                
                <div class="col-md-4 p-4">
                    <img src="{{asset('images/pb.png')}}" class="img-fluid rounded-circle mb-3" alt="photo">
                    <h3>Thierno DIALLO</h3>
                    <p><strong>Etudiant en Réseaux et Télécommunications</strong></p>
                    <hr>
                    <p><i class="bi bi-envelope"></i> thiernold28@gmail.com</p>
                    <p><i class="bi bi-telephone"></i> 06 52 33 29 56</p>
                    <p><i class="bi bi-geo-alt"></i> Roanne - France</p>
                    <p><i class="bi bi-linkedin"></i> linkedin.com/in/diouldediallo28</p>
                    <hr>
                    <h4>🛠️ COMPETENCES</h4>
                    <h5> Compétences techniques</h5>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <h5> Compétences Transversalles</h5>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <h5> Compétences Personnelles </h5>
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <h5> Langues</h5>
                    <ul>
                        <li>Français</li>
                        <li>Anglais - Intermédiaire (B1)</li>
                        <li>Arabe - Notions de base</li>
                        <li>Wolof - Langue maternelle</li>
                    </ul>
                    <h4>🎯 CENTRES D’INTÉRÊT</h4>
                    <ul>
                        <li>Pratique régulière du football et passion pour le sport en général</li>
                        <li>Intérêt marqué pour les nouvelles technologies et la cybersécurité</li>
                        <li>Goût pour les voyages et la découverte de nouvelles cultures</li>
                        <li>Lecture sur le développement personnel</li>
                    </ul>
                </div>
                
                <div class="col-md-8 p-4">
                    <h4>👤 PROFIL</h4>
                    <p class="fs-6" > Étudiant en première année de BUT Réseaux et Télécommunications à
                        l'IUT de Roanne, je suis à la recherche d'un travail à temps partiel. Sérieux
                        et motivé, doté d’une expérience dans l’organisation d’événements sportifs.
                        Habitué à l’accueil du public et à la gestion d’activités en équipe, je souhaite
                        mettre mon sens du service et de la rigueur à votre service.
                    </p>
                    <h4>💼 EXPÉRIENCES ET PROJETS ACADÉMIQUES</h4>
                    <h5
                    <ul>
                        <li><b>Entreprise X</b> — Développeur Front-End (2023)</li>
                        <li><b>Stage Y</b> — Création d’un site vitrine</li>
                    </ul>
                    <h4>🎓 Formations</h4>
                    <h6>BACHELOR UNIVERSITAIRE DE TECHNOLOGIE EN RÉSEAUX ET TÉLÉCOMMUNICATIONS (B.U.T R&T)</h6>
                    <p>2025 - en cours, Universite Jean Monnet - IUT Roanne</p>
                    <h6>LICENCE 1 GÉNIE LOGICIEL ET SYSTÈMES D’INFORMATION</h6>
                    <p>2024 - 2025, École Supérieure Polytechnique de Dakar</p>                    
                    <h6>BACCALAURÉAT SCIENTIFIQUE, OPTION SCIENCES EXPERIMENTALE</h6>
                    <p>2023 - 2024, Lycée de Mbao - Dakar, Sénégal</p>
                    
                </div>
            </div>
        </div>

    </main>
{% endblock %}
