{% extends 'base.html.twig' %}

{% block title %}contact{% endblock %}

{% block body %}
    <header>
        <h1>
            <a href="mailto:thiernold28@gmail.com" class="text-decoration-none text-info">
                <i class="bi bi-envelope-fill"></i>
            </a>
        </h1>
    </header>
    <main>
        <div class="container mt-5">
            <h1 class="text-center mb-4">Contactez-moi</h1>
            <form method="post" class="mx-auto" style="max-width: 600px;">
                <div class="mb-3">
                    <label for="name" class="form-label">Votre nom</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Prenoms NOM" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Votre email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="email@example.com" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Téléphone (optionnel)</label>
                    <input type="tel" class="form-control" id="phone" name="phone" placeholder="+33 6 ..." >
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Votre message</label>
                    <textarea class="form-control" id="message" name="message" rows="4" placeholder="Votre message ici..." required></textarea>
                </div>
                <button type="submit" class="btn btn-info w-100">
                    Envoyer le message
                </button>
            </form>
            <div class="text-center mt-4">
                <a href="{{ asset('documents/cv.pdf') }}" class="btn btn-success btn-lg" download>
                    📄 Télécharger mon CV
                </a>
            </div>

        </div>

    </main>
{% endblock %}
