{% extends 'base.html.twig' %}


{% block title %}programmer{% endblock %}

{% block body %}

    <section class="container py-5">
        <h1 class="fw-bold text-center mb-4">Compétence : Programmer</h1>

        <div class="card shadow p-4 border-0">
            <h3 class="fw-bold mb-3">Définition</h3>
            <p class="fs-5 mb-0">
                La compétence Programmer désigne la capacité à concevoir et développer des scripts, applications ou automatismes qui exploitent les réseaux et les services de communication, 
                par exemple pour configurer des équipements, superviser des infrastructures ou interagir avec des objets connectés. 
                Elle inclut l’usage de langages de programmation et de scripts adaptés (par exemple Python, scripts réseau, API), 
                la compréhension des protocoles et l’intégration de services pour répondre à un besoin fonctionnel précis. 
                Dans les métiers du numérique, cette compétence devient centrale pour automatiser les tâches d’administration, 
                développer des services innovants et rendre les réseaux plus intelligents et plus adaptables aux nouveaux usages
            </p>
        </div>
    </section>

    <section class="container py-5">
        <div class="card shadow p-4 border-0">
            <h3 class="fw-bold mb-3">Ce que j’ai acquis</h3>
            <p class="fs-5">
                Au premier semestre, j'ai consolidé les bases de l'algorithmique en <strong>Python et en C</strong>, tout en découvrant l'architecture MVC avec <strong>Symfony</strong>. J'ai appris à structurer un code propre pour résoudre des problèmes logiques et à automatiser l'analyse de fichiers de trafic réseau. <br><br>

                Au second semestre, ma pratique s'est orientée vers la gestion et l'exploitation des données. J'ai appris à concevoir et administrer des <strong>bases de données relationnelles</strong> (SGBD) en utilisant <strong>MariaDB via phpMyAdmin</strong>, ainsi que Microsoft Access. Je maîtrise désormais l'interaction entre une application et ses données. <br><br>

                J'ai également développé une expertise dans le traitement de données structurées. Je sais manipuler et convertir des formats comme le <strong>CSV, le JSON et le YAML</strong>, et j'utilise les <strong>expressions régulières (Regex)</strong> pour extraire avec précision des informations complexes dans de gros volumes de données. Je suis aussi capable de récupérer des données dynamiques en interrogeant des <strong>APIs</strong>. <br><br>

                Actuellement, j'applique ces compétences sur des projets intégratifs, notamment pour automatiser le déploiement de services via des conteneurs (SAÉ 2.3) et pour traiter des flux de données en temps réel. Ces expériences renforcent ma capacité à créer des outils logiciels qui répondent directement aux besoins des infrastructures réseau modernes.
            </p>
        </div>
    </section>

    <section class="container py-5">
        <div class="card shadow p-4 border-0">
            <h3 class="fw-bold mb-3">Mes skills liés à cette compétence</h3>

            <div class="d-flex flex-wrap gap-2 fs-5">
                {# Langages & Bases #}
                <span class="badge bg-success px-3 py-2">Python & C </span>
                <span class="badge bg-success px-3 py-2">Expressions régulières (Regex)</span>
                <span class="badge bg-warning text-dark px-3 py-2">Versionning Git / GitHub</span>

                {# Données & SGBD #}
                <span class="badge bg-primary px-3 py-2">MariaDB & SQL (phpMyAdmin)</span>
                <span class="badge bg-primary px-3 py-2">Microsoft Access</span>
                <span class="badge bg-primary px-3 py-2">Formats de données (YAML, JSON, CSV)</span>

                {# Développement & API #}
                <span class="badge bg-info px-3 py-2">Consommation d'APIs</span>
                <span class="badge bg-info px-3 py-2">Architecture MVC (Symfony)</span>
                <span class="badge bg-info px-3 py-2">Docker & Automatisation (SAÉ 2.3)</span>

                {# Méthodes #}
                <span class="badge bg-dark px-3 py-2">Analyse et traitement de données massives</span>
                <span class="badge bg-secondary px-3 py-2">Documentation technique technique (FR/EN)</span>
            </div>
        </div>
    </section>

    <section class="container py-5">
        <h2 class="fw-bold text-center mb-5">Projets liés à cette compétence</h2>

        <div class="row g-4 justify-content-center">

            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card shadow border-0 h-100" style="border-radius: 20px; width: 100%;">
                    
                    <img src="{{ asset('images/mandelbrot.webp') }}"
                        class="card-img-top"
                        style="border-radius: 20px 20px 0 0; height: 200px; object-fit: cover;">

                    <div class="card-body">
                        <h4 class="fw-bold">Projet Fractale</h4>
                        <p class="text-muted">Programmation / Python</p>
                        <p>Script Python générant des fractales de Julia et de Mandelbrot en utilisant les nombres complexes. Le programme calcule l’évolution de chaque point du plan complexe et produit une image haute résolution représentant la fractale.</p>
                        <a href="https://github.com/mhd7pf/projetIUT.git" class="btn btn-info w-100" target="_blank_">
                            Voir le projet →
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <div class="card shadow border-0 h-100" style="border-radius: 20px; width: 100%;">

                    <img src="/images/projets/sae105/sae105.png"
                        class="card-img-top"
                        style="border-radius: 20px 20px 0 0; height: 200px; object-fit: cover;"
                        alt="Schéma de l’outil d’analyse de trafic réseau">

                    <div class="card-body">
                        <h4 class="fw-bold">Outil d’analyse de trafic réseau</h4>
                        <p class="text-muted">Python · pandas · Excel VBA · openpyxl</p>
                        <p>
                            Pipeline automatisé pour analyser un fichier tcpdump, détecter port scans, DoS
                            et connexions SSH sensibles, puis générer un rapport Markdown avec tableaux
                            et graphiques.
                        </p>

                        <a href="{{ path('projetp2') }}" class="btn btn-info w-100">
                            Voir le projet →
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button type="button"
                class="btn btn-outline-secondary"
                onclick="window.history.back()">
                ← Retour à la page précédente
            </button>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button id="backToTop" class="btn rounded-circle shadow-lg">
                <i class="bi bi-arrow-up"></i>
            </button>
        </div>
    </section>
    
{% endblock %}